# OS Files
.DS_Store
Thumbs.db

# Editor Files
.vscode/
.idea/
*.swp
*.swo

# Dependencies
node_modules/

# Build Files
dist/
build/

# Logs
*.log

# Environment
.env
.env.local

# Temporary Files
*.tmp
*.temp

# Vercel
.vercel